<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
        {%- for state in states.values()|sort(attribute="name") %}
            <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
            <UL>
              {%- for cyti in cities.values() |sort(attribute="name") %}
                {%- if cyti.state_id == state.id %}
                  <LI>{{ cyti.id }}: <B>{{ cyti.name }}</B></LI>
                {% endif %}
              {%- endfor %}
            </UL>
        {%- endfor %}
        </UL>
    </BODY>
</HTML>